@font-face {
  font-family: "VarelaRegular";
  src: url("/fonts/Varela-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html {
  font-family: VarelaRegular !important;
}
body {
  font-family: VarelaRegular !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: VarelaRegular !important;
}

p, div, ul, li, a, span, button {
  font-family: VarelaRegular !important;
}
